header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2.4rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo span {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

nav ul li {
  font-size: 1.8rem;
}
