<header class="shadow">
  <a routerLink="/" class="logo">
    <img src="../../assets/images/2.png" alt="Logo for Noti" />
    <span>NOTI</span>
  </a>
  <nav>
    <ul>
      <li *ngIf="!user && !main">
        <a routerLink="/login" class="text-dark">Log In</a>
      </li>
      <li *ngIf="!user && !main">
        <a routerLink="/register" class="btn btn-primary btn-lg">Get Started</a>
      </li>
      <li *ngIf="!landing && !user">
        <img src="../../assets/images/person.png" alt="Person icon" />
      </li>
    </ul>
  </nav>
</header>
