header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 2.4rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  text-decoration: none;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo span {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #222;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

nav ul li a {
  font-size: 1.8rem;
  text-decoration: none;
}

nav ul li img {
  width: 45px;
  cursor: pointer;
  transition: all 300ms;
}

nav ul li img:hover {
  transform: scale(1.1);
}

.profile-icon {
  position: relative;
}

.profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  right: 50%;
  width: fit-content;
  padding: 2.4rem;
  background-color: white;
}

.profile-row {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.profile-img {
}

.profile-img img {
  width: 50px;
}

.profile-row {
  cursor: pointer;
}

.profile-row:hover span {
  color: blue;
}

.profile-content span {
  display: block;
  font-size: 1.6rem;
}
