<main class="container">
  <div class="row">
    <div class="col-md-6 my-3">
      <h1>Noti keeps your tasks and resources in one place</h1>
      <p>Keep all your tasks organized</p>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <input
          type="email"
          class="form-control"
          placeholder="Enter your email"
          name="email"
          ngModel
          required
        />
        <button class="btn btn-lg btn-primary">Sign-Up Now</button>
      </form>
    </div>
    <div class="col-md-6 img-display">
      <img
        src="../../assets/images/tasks management 1.png"
        alt="Image of some boards as a demo to the user"
      />
    </div>
  </div>
</main>
