<main class="container">
  <img class="logo" src="../../assets/images/1.png" alt="A logo of Noti" />

  <form class="shadow-lg">
    <h1>Log In to Noti</h1>
    <input
      type="email"
      placeholder="Enter your email"
      name="email"
      class="form-control"
    />
    <input
      type="password"
      placeholder="Enter your password"
      name="password"
      class="form-control"
    />
    <button type="submit" class="btn btn-primary">Login</button>

    <hr />

    <div class="additional-section">
      <a href="#">Forgot Password?</a>
      <span> - </span>
      <a routerLink="/register">Create an Account</a>
    </div>

    <div class="additional-section-footer">
      <a>Terms of Service</a>
      <span> - </span>
      <a>Privacy Policy</a>
    </div>
  </form>
</main>
