<main>
  <div class="tasks shadow-sm">
    <div class="tasks-info">
      <h1>Tasks</h1>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
      >
        <path
          d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm16-40a8,8,0,0,1-8,8,16,16,0,0,1-16-16V128a8,8,0,0,1,0-16,16,16,0,0,1,16,16v40A8,8,0,0,1,144,176ZM112,84a12,12,0,1,1,12,12A12,12,0,0,1,112,84Z"
        ></path>
      </svg>
    </div>
    <div class="tasks-panel">
      <div class="tasks-filter">
        <div class="add-task" (click)="addTask()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"
            ></path>
          </svg>
          <span>Add Task</span>
        </div>
        <div class="search-task">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
            ></path>
          </svg>
          <input
            type="text"
            name="search"
            class=""
            (keyup)="onSearch(search)"
            placeholder="Search"
            #search
          />
        </div>
        <div class="sort-task">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M117.66,170.34a8,8,0,0,1,0,11.32l-32,32a8,8,0,0,1-11.32,0l-32-32a8,8,0,0,1,11.32-11.32L72,188.69V48a8,8,0,0,1,16,0V188.69l18.34-18.35A8,8,0,0,1,117.66,170.34Zm96-96-32-32a8,8,0,0,0-11.32,0l-32,32a8,8,0,0,0,11.32,11.32L168,67.31V208a8,8,0,0,0,16,0V67.31l18.34,18.35a8,8,0,0,0,11.32-11.32Z"
            ></path>
          </svg>
          <select class="" name="sort" (change)="sortSelected(sorter)" #sorter>
            <option value="default">Sort</option>
            <option value="date">Date</option>
            <option value="status">Status</option>
            <option value="name">Name</option>
          </select>
        </div>
      </div>
      <div class="tasks-container">
        <div *ngIf="tasks.length === 0" class="no-tasks">
          <h2>No Tasks To Show</h2>
        </div>
        <div *ngFor="let task of tasks" class="tasks-card">
          <div class="title" (click)="editTask(task)">
            <h2>{{ task.title }}</h2>
          </div>
          <div class="card-body">
            <div class="notes overflow-auto" (click)="editTask(task)">
              <h3>Notes</h3>
              <div *ngFor="let note of task.notes">
                <p>{{ note }}</p>
              </div>
            </div>
            <div class="status" (click)="editTask(task)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 256 256"
              >
                <path
                  d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z"
                ></path>
              </svg>
              <span>{{ task.status }}</span>
            </div>
            <div class="date" (click)="editTask(task)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 256 256"
              >
                <path
                  d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM112,184a8,8,0,0,1-16,0V132.94l-4.42,2.22a8,8,0,0,1-7.16-14.32l16-8A8,8,0,0,1,112,120Zm56-8a8,8,0,0,1,0,16H136a8,8,0,0,1-6.4-12.8l28.78-38.37A8,8,0,1,0,145.07,132a8,8,0,1,1-13.85-8A24,24,0,0,1,176,136a23.76,23.76,0,0,1-4.84,14.45L152,176ZM48,80V48H72v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80Z"
                ></path>
              </svg>
              <span
                >{{ task.date.getUTCFullYear() }} /
                {{ task.date.getUTCMonth() }} /
                {{ task.date.getUTCDay() }}</span
              >
            </div>
            <button
              class="btn btn-danger delete"
              (click)="deleteTask(task._id)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-add-task
  *ngIf="taskAddWindow"
  (state)="addTaskStateChanged($event)"
  (newTask)="addedNewTask($event)"
></app-add-task>
<app-edit-task
  *ngIf="taskEditWindow"
  (state)="editTaskStateChanged($event)"
  (newTask)="addedNewTask($event)"
  [task]="editTaskInput"
></app-edit-task>
