.add-task {
  max-width: 100rem;
  position: relative;
  top: 10%;
  margin: auto;
  background-color: white;
  z-index: 1000;
}

.heading {
  padding: 2.4rem;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.heading-icon {
}

.heading h1 {
  font-size: 4.4rem;
  margin-bottom: 2.4rem;
}

.heading p {
  font-size: 2.2rem;
  grid-column: 2 / 3;
}

.body {
  padding: 2.4rem;
}

label {
  font-size: 1.4rem;
}

input,
textarea {
  font-size: 1.6rem;
}

button {
  font-size: 1.8rem;
}
