main {
  max-width: 600px;
  margin: 3.2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.logo {
  width: 10rem;
}

form {
  width: 100%;
  padding: 6.4rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

form input {
  width: 70%;
  font-size: 1.6rem;
}

form button {
  font-size: 1.8rem;
}

.additional-section {
  display: flex;
  font-size: 1.6rem;
  gap: 1.2rem;
}

.additional-section-footer {
  display: flex;
  font-size: 1.2rem;
  gap: 1.2rem;
}

a {
  text-decoration: none;
  color: #222;
  transition: all 300ms;
}

a:hover {
  color: blue;
}
