<main *ngIf="registerFirst" class="container">
  <img class="logo" src="../../assets/images/1.png" alt="A logo of Noti" />

  <form
    (ngSubmit)="formSubmit(registerForm)"
    #registerForm="ngForm"
    class="shadow-lg"
  >
    <h1>Sign Up for Noti</h1>
    <div *ngIf="error" class="alert alert-danger">
      <p>Whoops, something went wrong. Please try again later</p>
    </div>
    <div *ngIf="userExists" class="alert alert-danger">
      <p>This user already exists</p>
    </div>
    <input
      type="email"
      placeholder="Enter your email"
      name="email"
      class="form-control"
      ngModel
      required
    />
    <input
      type="password"
      placeholder="Enter your password"
      name="password"
      class="form-control"
      ngModel
      [(ngModel)]="password"
      required
    />
    <input
      type="password"
      placeholder="Confirm your password"
      name="confirm-password"
      class="form-control"
      [(ngModel)]="cPassword"
      (keyup)="onChange()"
      required
    />
    <div *ngIf="!matches" class="alert alert-danger">
      <p>Passwords do not match</p>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!registerForm.valid && matches && !registerForm.touched"
    >
      Login
    </button>

    <hr />

    <div class="additional-section">
      <a routerLink="/login">Already have an Account?</a>
    </div>

    <div class="additional-section-footer">
      <a>Terms of Service</a>
      <span> - </span>
      <a>Privacy Policy</a>
    </div>
  </form>
</main>

<div *ngIf="!registerFirst" class="register-2 container">
  <div class="row">
    <div class="col-md-6 img-display">
      <img
        src="../../assets/images/tasks management 2.png"
        alt="Image of some boards as a demo to the user"
      />
    </div>
    <div class="col-md-6 my-3 register-2-content">
      <h1>Welcome to Noti</h1>
      <h2>Create your first task</h2>
      <form action="">
        <label for="task">Name your first task</label>
        <input
          type="text"
          class="form-control"
          placeholder="Task Name"
          name="task"
        />
        <br />
        <button class="btn btn-lg btn-primary">Create your task</button>
      </form>
    </div>
  </div>
</div>
