main {
  max-width: 600px;
  margin: 3.2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.logo {
  width: 10rem;
}

main form {
  width: 100%;
  padding: 6.4rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

main form input {
  width: 70%;
  font-size: 1.6rem;
}

main form button {
  font-size: 1.8rem;
}

.additional-section {
  display: flex;
  font-size: 1.6rem;
  gap: 1.2rem;
}

.additional-section-footer {
  display: flex;
  font-size: 1.2rem;
  gap: 1.2rem;
}

a {
  text-decoration: none;
  color: #222;
  transition: all 300ms;
}

a:hover {
  color: blue;
}

.register-2 {
  margin: 8.4rem auto;
}

.register-2-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.register-2-content form input,
.register-2-content form button {
  font-size: 1.6rem;
}

.register-2 h1 {
  font-size: 4.2rem;
  margin-bottom: 1.8rem;
}

.register-2 h2 {
  font-size: 2.2rem;
  margin-bottom: 1.8rem;
}
/*
.register-2 form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
} */

.register-2-content form label {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}

.img-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-display img {
  width: 70%;
}
