<main class="container">
  <img class="logo" src="../../assets/images/1.png" alt="A logo of Noti" />

  <form class="shadow-lg">
    <h1>Sign Up for Noti</h1>
    <input
      type="email"
      placeholder="Enter your email"
      name="email"
      class="form-control"
    />
    <input
      type="password"
      placeholder="Enter your password"
      name="password"
      class="form-control"
    />
    <input
      type="password"
      placeholder="Confirm your password"
      name="confirm-password"
      class="form-control"
    />
    <button type="submit" class="btn btn-primary">Login</button>

    <hr />

    <div class="additional-section">
      <a href="#">Already have an Account?</a>
    </div>

    <div class="additional-section-footer">
      <a href="#">Terms of Service</a>
      <span> - </span>
      <a href="#">Privacy Policy</a>
    </div>
  </form>
</main>
